
@import "partials/reset";
@import "partials/clearfix";
@import "https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700.css";

$phone: "only screen and (max-width: 400px)";
$desktop: "only screen and (min-width: 800px)";
$tablet: "only screen and (min-width: 400px) and (max-width: 800px)";

body {
  background-color: #57c1c7;
  margin: auto;
  @media #{$phone} {
    font-size: 80%;
  }
  @media #{$tablet} {
    font-size: 90%;
  }
  @media #{$desktop} {
    padding: 48px;
  }
}

h1, h2, h3, h4 {
  color: #57c1c7;
  font-family: "Droid Serif";
}

h1, aside, footer, .content, .nav, {
  background-color: white;
}

.nav {
  display: block;
  text-align: center;
  @media #{$phone} {
    display: none;
  }
}

.nav > li {
  display: inline-block;
  padding: 16px;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #57c1c7;
  @media #{$phone} {
    background-color: #389fa8;
    color: #57c1c7;
    padding: 8px;
  }
  @media #{$tablet} {
    display: block;
    padding: 16px;
  }
  @media #{$desktop} {
    padding: 32px;
  }
}

h2 {
  font-size: 150%;
  display: inline-block;
  margin-bottom: 8px;
  border-bottom: 1px dashed #57c1c7;
}

h3 {
  font-size: smaller;
  padding-bottom: 32px;
}

a:hover {
  color: #57c1c7;
}

.read_more {
  background-color: #389fa8;
  color: #57c1c7;
}

a:hover.read_more {
  background-color: black;
}

.read_more {
  margin: 16px;
  padding: 16px;
  display: block;
}

aside > h4 {
  font-size: larger;
  margin: 16px;
}

aside > p {
  margin: 16px;
  font-size: 90%;
}

.row {
  margin: auto;
  @media #{$desktop} {
    width: 800px;
  }
}

.content {
  margin: auto;
  box-sizing: border-box;
  padding: 32px;
  @media #{$desktop} {
    float: left;
    width: 600px;
    height: 600px;
  }
}

aside {
  margin: auto;
  box-sizing: border-box;
  padding: 16px;
  @media #{$desktop} {
    float: left;
    width: 200px;
    height: 600px;
    padding: 32px;
    border-left: 1px solid #57c1c7;
  }
}

footer {
  border-top: 1px solid #57c1c7;
  @media #{$tablet} {
    text-align: center;
  }
}

a {
  color: black;
  text-decoration: none;
}

.footer_links > li {
  display: inline-block;
  padding: 16px;
}

.left > p {
  font-size: smaller;
  padding: 16px;
}

.left {
  display: none;
  @media #{$desktop} {
    float: right;
    display: block;
  }
}

.right {
  padding-left: 16px;
  @media #{$desktop} {
    float: left;
  }
}
